* User can search Course Data by keywords or phrases* User can search the paper by publication name, publisher, and publication date* User can search the paper by keywords or phrases from authors, their associated institutions.* User can sort the Course Data search results by relevant fields (release date, duration, course rating)* User can facet Course Data by role, product, and level.* User can filter the Course Data results based on relevant criteria release date, duration, course rating)* User can be able to get the results from searches for papers with a Digital Object Identifier URL for the file