<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://instructorinfo-func-udc-dev-eatus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7023dccf-8c31-41db-809e-9f442490bfe7/resourceGroups/rg-udc-dev-eastus-01/providers/Microsoft.Web/sites/instructorinfo-func-udc-dev-eatus-01</ResourceId>
    <UserName>vicent.pmt@live.com</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://instructorinfo-func-udc-dev-eatus-01.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>